<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin page CDOS</title>

        <style>
            form {
                max-width: 400px;
                margin: 50px auto;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
            label {
                display: block;
                margin-bottom: 8px;
                font-weight: bold;
            }
            input[type="text"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            button {
                width: 100%;
                padding: 10px;
                background-color: #28a745;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            button:hover {
                background-color: #218838;
            }
            .alert {
                color: #721c24;
                background-color: #f8d7da;
                border-color: #f5c6cb;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid transparent;
                border-radius: 4px;
            }
        </style>
	</head>
	<body>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="username">Nom d'utilisateur</label>
			<input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
			<label for="password">Mot de passe</label>
			<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
			<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
 
			<button class="btn btn-lg btn-primary" type="submit">
				Sign in
			</button>
		</form>
	</body>
</html>
